.poster{
    /* object-fit : ;
    width: 100%;
    
    max-height: 100px; */
    display: flex;
    width: fit-content;
    flex-direction: column ;
    background-color: aliceblue;
    transition: transform 0.26s, box-shadow 0.1s ease-in-out;
    /* transition: transform .2s ; */
    margin: 5px 5px 5px 5px;
}
.videoBox{
    display: inline-flex;
    flex-direction: row ;
    width: fit-content;
    overflow: false;
    flex-wrap: wrap;
}
   
h4{
    font-family: "Times New Roman", Times, serif;
    align-content: flex-end;
}
.container{
    display: grid;
    /* flex-direction: row; */
}

.poster:hover{
transform: scale(1.160) ;
box-shadow: 0px 5px 15px rgba(255,255,255,0.8);
}